@import '../../../styles/colors';

.products-list {
  display: flex;
  flex-direction: column;

  .list-header {
    .light-sub-text {
      color: $light-grey;
      font-size: 16px;
      font-weight: 400;
      line-height: 20px;
    }

    h1 {
      margin: 5px 0px 15px;
      font-size: 24px;
      font-weight: 700;
      line-height: 31px;
    }

    h2 {
      font-size: 18px;
      font-weight: 700;
      line-height: 23px;
      margin: 0px 0px 18px;
    }
  }

  .list-items-wrapper {
    display: flex;
    flex-direction: row;
    column-gap: 10px;
    row-gap: 10px;
    flex-wrap: wrap;
  }
}