@import '../../styles/colors';

.product-list-item {
  // -webkit-box-shadow: 0px 12px 72px -10px rgba(0, 0, 0, 0.45);
  // -moz-box-shadow: 0px 12px 72px -10px rgba(0, 0, 0, 0.45);
  // box-shadow: 0px 12px 72px -10px rgba(0, 0, 0, 0.45);
  background: #fff;
  margin: 5px;

  border-radius: 12px 32px 12px 12px;
  display: flex;
  flex-direction: column;

  // width: 155px;
  width: calc(50% - 10px);
  height: 195px;
  position: relative;

  @media (max-width: 381px) {
    width: 100%;
  }

  .inner-content {
    padding: 11px 16px 7px;
  }

  h3 {
    color: $primary-black;
    font-size: 16px;
    font-weight: 500;
    line-height: 16px;
    text-align: center;
  }

  .img-container {
    max-width: 100%;
    display: flex;
    justify-content: center;
    height: 122px;

    img {
      display: block;
      max-width: 100%;
      height: auto;
    }
  }


  .bottom-container {
    position: relative;
    bottom: 0px;

    .price {
      font-size: 16px;
      font-weight: 500;
      line-height: 16px;
      text-align: left;
    }

    .add-button {
      width: 40px;
      height: 40px;

      img {
        width: 40px;
        height: 40px;
      }

      position: absolute;
      bottom: 0px;
      right: 0px;
      cursor: pointer;
    }
  }
}