.page-header {
  width: 100vw;
  position: sticky;

  .inner-container {
    max-width: 600px;
    padding: 20px;
    width: 100%;
    margin: 0 auto;
    position: relative;
    display: flex;
    justify-content: space-between;

    img {
      width: 40px;
      height: 40px;
      cursor: pointer;
    }

    h5 {
      font-size: 18px;
      font-weight: 700;
      line-height: 23px;
      text-align: center;
      margin: 9px 0px;
    }

    .perfil-picture {
      border-radius: 50%;
    }
  }
}